<div class="row justify-content-around about-content" id="about">
    <div class="col-11">
        <h1 class="burnt-orange"><%= fa_icon("info-circle") %> About us</h1>

        <div class="youtube-iframe move-down">
            <iframe src="https://www.youtube.com/embed/6ptv190lAUw"
                    type="text/html"
                    frameborder="0"
                    style="border:0"
                    class="shadow"
                    allowfullscreen></iframe>
        </div>

        <div class="row about-sections">
            <% 4.times do |i| %>
                <%= render("static_pages/about_section",
                           index: i + 1) %>
            <% end %>
        </div>

        <div class="right move-down large-text">
            <%= link_to(root_path(anchor: "top")) do %>
                <%= fa_icon("arrow-circle-up") %> Back to top
            <% end %>
        </div>
    </div>
</div>
