<div class="col-xs-12 col-sm-12 col-md-6 small-screen">
    <% if index.odd? %>
        <%= render("static_pages/image",
                   name: "about_#{index}",
                   css: "img-fluid shadow") %>
    <% end %>
</div>
<div class="col-xs-12 col-sm-12 col-md-6">
    <% if index.odd? %>
        <%= render("static_pages/text_section", section: "about_#{index}") %>
    <% else %>
        <%= render("static_pages/image",
                   name: "about_#{index}",
                   css: "img-fluid shadow") %>
    <% end %>
</div>
<div class="col-xs-12 col-sm-12 col-md-6">
    <% if index.odd? %>
        <div class="large-screen">
            <%= render("static_pages/image",
                       name: "about_#{index}",
                       css: "img-fluid shadow") %>
        </div>
    <% else %>
        <%= render("static_pages/text_section", section: "about_#{index}") %>
    <% end %>
</div>
