<div class="row justify-content-around contact-section" id="contact">
    <div class="col-11">
        <h1 class="burnt-orange"><%= fa_icon("comments-o") %> Contact us</h1>

        <div class="row rep-info">
            <% @reps.each do |rep| %>
                <%= render("static_pages/rep_card", rep: rep) %>
            <% end %>
        </div>

        <div class="right move-down large-text">
            <%= link_to(root_path(anchor: "top")) do %>
                <%= fa_icon("arrow-circle-up") %> Back to top
            <% end %>
        </div>
    </div>
</div>
