<div class="landing-content center">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-11">
                <%= render("layouts/flashes") %>
            </div>
        </div>
    </div>

    <%= image_tag("itf_logo.png", class: "itf-logo") %>

    <div class="landing-bg">
        <h1>UT Austin ITF <nobr>Taekwon-Do</nobr> Club</h1>

<%#         <div class="landing-links bottom-links"> %>
<%#             <%= link_to("https://www.facebook.com/groups/2202299821/", %>
<%#                         target: :_blank) do %1> %>
<%#                 <%= fa_icon("facebook-square") %1> %>
<%#             <% end %1> %>
<%#             &nbsp; %>
<%#             <%= link_to("https://www.instagram.com/utitftaekwondo/", %>
<%#                         target: :_blank) do %1> %>
<%#                 <%= fa_icon("instagram") %1> %>
<%#             <% end %1> %>
<%#         </div> %>

        <div class="landing-links">
            <nobr>
                <%= link_to(root_path(anchor: "about")) do %>
                    <%= fa_icon("info-circle") %> about
                <% end %>
            </nobr>
            .
            <nobr>
                <%= link_to(root_path(anchor: "schedule")) do %>
                    <%= fa_icon("calendar-o") %> schedule
                <% end %>
            </nobr>

            <span class="hide-small">.</span>
            <span class="break-small">
            <nobr>
                <%= link_to(root_path(anchor: "contact")) do %>
                    <%= fa_icon("comments-o") %> contact
                <% end %>
            </nobr>
            .
            <nobr>
                <%= link_to(root_path(anchor: "testing")) do %>
                    <%= fa_icon("forward") %> testing
                <% end %>
            </nobr>
            </span>
        </div>
    </div>
</div>
