<div class="col-xs-12 col-sm-12">
    <div class="rep-card shadow">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <% if !Rails.env.test? %>
                    <%= image_tag(rep.photo.url, class: "img-fluid") %>
                <% end %>
            </div>
            
            <div class="col-xs-12 col-sm-8">
                <div class="rep-card-info">
                    <b><%= rep.name %></b><br>
                    <i><%= rep.position_name %></i><br>
                    <%= rep.email %>
                </div>
            </div>
        </div>

    </div>
</div>
