<div class="row justify-content-around schedule-content" id="schedule">
    <div class="col-11">
        <h1 class="burnt-orange">
            <%= fa_icon("calendar-o") %> Practice schedule
        </h1>

        <%= render("static_pages/text_section", section: "schedule") %>

        <div class="center-div">
            <div class="row large-only">
                <div class="col-xs-12 col-sm-4">
                    <b>Day</b>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <b>Time</b>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <b>Location</b>
                </div>
            </div>

            <% @practice_times.each do |practice_time| %>
                <%= render("practice_times/practice_time",
                           practice_time: practice_time) %>
            <% end %>
        </div>

        <div class="maps-iframe">
            <iframe src="https://www.google.com/maps/embed/v1/place?q=2001%20San%20Jacinto%20austin%20tx&key=AIzaSyDoVc_WfIhgv8z8tTg2hkHgIuZDWMd78tA"
                    frameborder="0"
                    style="border:0"
                    class="shadow"
                    allowfullscreen>
            </iframe>
        </div>

        <div class="right move-down">
            <%= link_to(root_path(anchor: "top")) do %>
                <%= fa_icon("arrow-circle-up") %> Back to top
            <% end %>
        </div>
    </div>
</div>
