<div class="row justify-content-around contact-section" id="testing">
    <div class="col-11">
        <h1 class="burnt-orange"><%= fa_icon("forward") %> Testing</h1>

        <div class="row large-text">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <%= render("static_pages/text_section", section: "testing_1") %>
                <%= render("static_pages/text_section", section: "testing_2") %>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="large-screen">
                    <%= render("static_pages/image",
                               name: "testing_1",
                               css: "img-fluid shadow") %>
                </div>
            </div>
        </div>

        <div class="row move-down">
            <% @sheets.each do |sheet| %>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 move-down">
                    <% if !Rails.env.test? && sheet.file.url %>
                        <%= link_to(sheet.title,
                                    sheet.file.url,
                                    class: "btn btn-outline-primary btn-full"
                                   ) %>
                    <% end %>
                </div>
            <% end %>
        </div>

        <div class="right move-down large-text">
            <%= link_to(root_path(anchor: "top")) do %>
                <%= fa_icon("arrow-circle-up") %> Back to top
            <% end %>
        </div>
    </div>
</div>
