<p>
    <% if @about_texts.include?(section) %>
        <%= @about_texts[section].html_safe %>
    <% end %>
    <% if logged_in? %>
        <%= link_to(text_edit_path(section: section)) do %>
            <%= fa_icon("edit") %> edit
        <% end %>
    <% end %>
</p>
