<% provide(:title, "Dues") %>

<%= render("shared/page_header") %>

<div class="row justify-content-around">
    <div class="col-md-8 col-sm-12">
        <p class="center large-text">
            Select the type of dues you are paying
        </p>
        
        <div class="row">
            <div class="col-md-6 col-sm-12 move-down">
                <%= link_to("Non-Traveling",
                            @dues["dues_regular"],
                            class: "btn btn-primary btn-full") %>
            </div>

            <div class="col-md-6 col-sm-12 move-down">
                <%= link_to("Traveling",
                            @dues["dues_traveling"],
                            class: "btn btn-primary btn-full") %>
            </div>
        </div>
    </div>
</div>

<div class="move-down"></div>
