<%= render("static_pages/landing") %>

<div class="container">
    <%= render("static_pages/about") %>
</div>

<%= render("static_pages/image", name: "full_1", css: "across-img") %>

<div class="container">
    <%= render("static_pages/schedule") %>
</div>

<%= render("static_pages/image", name: "full_2", css: "across-img") %>

<div class="container">
    <%= render("static_pages/contact") %>
</div>

<%= render("static_pages/image", name: "full_3", css: "across-img") %>

<div class="container">
    <%= render("static_pages/testing") %>
</div>

<%= render("static_pages/image", name: "full_4", css: "across-img") %>
