<% provide(:title, "Login") %>

<%= render("shared/page_header") %>

<div class="row justify-content-around large-text">
    <div class="col-xs-12 col-sm-8">
        <%= form_for(:session, url: login_path) do |f| %>
            <%= f.label(:email) %>
            <%= f.email_field(:email, class: "form-control") %>

            <%= f.label(:password) %>
            <%= f.password_field(:password, class: "form-control") %>

            <%= f.button(type: "submit",
                         class: "btn btn-primary btn-full") do %>
                Login&nbsp; <%= fa_icon("sign-in") %>
            <% end %>
        <% end %>
    </div>
</div>
