<div class="row justify-content-around space-bottom">
    <div class="col-xs-12 col-sm-10">
        <%= form_tag(tournaments_attendees_show_path(id: @tournament.path),
                     method: :get) do |f| %>
            <%= text_field_tag(:query, @query,
                               id: "attendee-search",
                               placeholder: "Search...",
                               class: "form-control") %>

            <div class="row justify-content-around">
                <div class="col-xs-12 col-sm-4">
                    <%= label_tag(:rank) %>
                    <%= select_tag(:rank,
                                   options_for_select(
                                        Attendee.rank_select(true),
                                        @rank),
                                   id: "rank-select",
                                   class: "attendee-filter-select form-control") %>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <%= label_tag(:weight_class) %>
                    <%= select_tag(:weight_class,
                                   options_for_select(
                                        Attendee.weight_class_name_select(true),
                                        @weight_class),
                                   id: "weight-class-select",
                                   class: "attendee-filter-select form-control") %>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <%= label_tag(:events) %>
                    <%= select_tag(:events,
                                   options_for_select(
                                        Attendee.events_select(true),
                                        @event),
                                   id: "event-select",
                                   class: "attendee-filter-select form-control") %>
                </div>
            </div>
        <% end %>
    </div>
</div>
