<table>
    <thead>
        <tr>
            <%= render("tournaments/attendees/sort_link",
                       name:     "First Name",
                       sort_val: "first_name") %>
            <%= render("tournaments/attendees/sort_link",
                       name:     "Last Name",
                       sort_val: "last_name") %>
            <%= render("tournaments/attendees/sort_link",
                       name:     "Age",
                       sort_val: "age") %>
            <%= render("tournaments/attendees/sort_link",
                       name:     "Rank",
                       sort_val: "rank") %>
            <%= render("tournaments/attendees/sort_link",
                       name:     "Weight Class",
                       sort_val: "weight_class") %>
            <th>Patterns</th>
            <th>Sparring</th>
            <th>Breaking</th>
            <th>Team Demo</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% @attendees.each do |attendee| %>
            <tr>
                <td class="pad-in-left"><%= attendee.first_name %></td>
                <td><%= attendee.last_name %></td>
                <td><%= attendee.age %></td>
                <td><%= attendee.rank_name %></td>
                <td><%= attendee.weight_class_name %></td>
                <td>
                    <% if attendee.patterns? %>
                        <span class="green"><%= fa_icon("check") %></span>
                    <% else %>
                        <span class="red"><%= fa_icon("times") %></span>
                    <% end %>
                </td>
                <td>
                    <% if attendee.sparring? %>
                        <span class="green"><%= fa_icon("check") %></span>
                    <% else %>
                        <span class="red"><%= fa_icon("times") %></span>
                    <% end %>
                </td>
                <td>
                    <% if attendee.breaking? %>
                        <span class="green"><%= fa_icon("check") %></span>
                    <% else %>
                        <span class="red"><%= fa_icon("times") %></span>
                    <% end %>
                </td>
                <td>
                    <% if attendee.team_demo? %>
                        <span class="green"><%= fa_icon("check") %></span>
                    <% else %>
                        <span class="red"><%= fa_icon("times") %></span>
                    <% end %>
                </td>
                <td>
                    <%= link_to(attendee_path(id: @tournament.path,
                                              attendee_id: attendee.id)) do %>
                        <%= fa_icon("eye") %> view
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
