<th>
    <%= link_to(tournaments_attendees_filter_path(
                    id: @tournament.path,
                    search: @search,
                    rank: @rank,
                    weight_class: @weight_class,
                    event: @event,
                    sort: sort_val,
                    dir: sort_direction(sort_val, @sort, @dir)
                ),
                remote: true) do %>
        <%= fa_icon("sort") %> <%= name %>
    <% end %>
</th>
