Welcome to uttkd.org!

An account has been created for you to manage the UT ITF Taekwon-Do Club.
Please click the link below to activate and finish setting up your account:

<%= link_to(edit_account_activation_url(@user.activation_token,
                                        email: @user.email),
            edit_account_activation_url(@user.activation_token,
                                        email: @user.email)) %>
Do not reply to this email.
