<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <%= stylesheet_link_tag :email %>
</head>
<body>
    <div class="email-title">
        <h1>Welcome to uttkd.org!</h1>
    </div>
    <p>
        An account has been created for you to manage the UT ITF Taekwon-Do
        Club. Please click the link below to activate and finish setting up
        your account:
    </p>

    <div class="email-btn">
        <%= link_to("Activate Account",
                    edit_account_activation_url(id: @user.activation_token,
                                                email: @user.email),
                    class: "btn btn-outline-primary") %>
    </div>
    <p>Do not reply to this email.</p>
</body>
</html>
