<div class="text-index-card shadow">
    <h3><b><%= practice_time.day_name %></b></h3>
    <div class="large-text">
        <b>Time:</b> <%= practice_time.time %><br>
        <b>Location:</b> <%= practice_time.location %><br>
    </div>

    <div class="large-text move-down">
        <%= link_to(practices_delete_path(id: practice_time.id),
                    method: :delete,
                    class: "red") do %>
            <%= fa_icon("trash") %> delete
        <% end %>
    </div>
</div>
<div class="move-down"></div>
