<div class="row justify-content-around practice-time">
    <div class="col-xs-12 col-sm-4 day">
        <%= practice_time.day_name %>
    </div>
    <div class="col-xs-12 col-sm-4">
        <%= practice_time.time %>
    </div>
    <div class="col-xs-12 col-sm-4">
        <%= practice_time.location %>
    </div>
</div>
