<% provide(:title, "Practice Times") %>

<%= render("shared/manage_header") %>

<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-10 col-md-8">
        <%= link_to("New Practice Time",
                    practices_new_path,
                    class: "btn btn-primary btn-full") %>

        <% @practice_times.each do |practice_time| %>
            <%= render("practice_times/index_card",
                       practice_time: practice_time) %>
            <div class="move-down"></div>
        <% end %>
    </div>
</div>
