<% provide(:title, "New Practice Time") %>

<%= render("shared/page_header") %>

<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-10 large-text">
        <%= form_for(@practice_time, url: practices_new_path) do |f| %>
            <%= render("shared/error_messages", obj: @practice_time) %>

            <%= f.label(:day) %>
            <%= f.select(:day, options_for_select(PracticeTime.day_select),
                         {},
                         class: "form-control") %>

            <%= f.label(:time) %>
            <%= f.text_field(:time, placeholder: "8:00p - 10:00p",
                             class: "form-control") %>

            <%= f.label(:location) %>
            <%= f.text_field(:location, placeholder: "RSC 1.138",
                             class: "form-control") %>

            <%= f.submit("Create Practice Time",
                         class: "btn btn-primary btn-full") %>
        <% end %>
    </div>
</div>
