<div class="text-index-card shadow">
    <h3><b><%= about_text.section %></b></h3>
    <div class="move-down">
        <%= about_text.render_text.html_safe %>
    </div>

    <div class="large-text move-down">
        <%= link_to(text_edit_path(section: about_text.section)) do %>
            <%= fa_icon("edit") %> edit
        <% end %>
    </div>
</div>
<div class="move-down"></div>
