<% provide(:title, "Edit #{@about_text.section}") %>

<%= render("shared/page_header") %>

<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-10 large-text">
        <%= form_for(@about_text,
                     url: text_update_path(section: @about_text.section)
                    ) do |f| %>
            <%= render("shared/error_messages", obj: @about_text) %>

            <%= f.label(:text) %>
            <%= f.text_area(:text, rows: 7, class: "form-control") %>
            <div class="bottom-info">
                <%= link_to("Supports Markdown!",
                            "https://github.com/adam-p/markdown-here/" +
                            "wiki/Markdown-Cheatsheet",
                            target: :_blank) %>
                <span class="md-examples">
                    <b>**bold**</b>
                    <i>*italics*</i>
                    <span class="strikethrough">~~strikethrough~~</span>
                    <code>`code`</code>
                </span>
            </div>

            <div class="move-down"></div>
            <%= f.submit("Update", class: "btn btn-primary btn-full") %>
        <% end %>
    </div>
</div>
