<% provide(:title, "Section Texts") %>

<%= render("shared/manage_header") %>

<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-10 col-md-8">
        <% @about_texts.each do |about_text| %>
            <%= render("about_texts/index_card", about_text: about_text) %>
        <% end %>
    </div>
</div>
<div class="move-down"></div>
