<div class="text-index-card shadow">
    <h3><b><%= sheet.title %></b></h3>
    <div class="large-text">
        <b>File uploaded:</b>
        <% if sheet.file.url.nil? %>
            <span class="red">No</span>
        <% else %>
            <span class="green">Yes</span>
        <% end %>
    </div>

    <div class="large-text move-down">
        <%= link_to(sheet.file.url) do %>
            <%= fa_icon("eye") %> view
        <% end %>
        &nbsp;
        <%= link_to(testing_edit_path(id: sheet.name)) do %>
            <%= fa_icon("upload") %> upload
        <% end %>
    </div>
</div>
<div class="move-down"></div>
