<% provide(:title, "Upload Testing Sheet for #{@sheet.title}") %>

<%= render("shared/page_header") %>

<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-8">
        <%= form_for(@sheet,
                     url: testing_update_path(id: @sheet.name),
                     method: :patch) do |f| %>
            <%= f.label(:file, "Choose a file (pdf, doc, docx)") %>
            <%= f.file_field(:file, class: "form-control") %>

            <%= f.submit("Upload", class: "btn btn-primary btn-full") %>
        <% end %>
    </div>
</div>
