<% provide(:title, "Testing Sheets") %>

<%= render("shared/manage_header") %>

<div class="row justify-content-around">
    <div class="col-md-8 col-sm-10 col-xs-12">
        <% @sheets.each do |sheet| %>
            <% if !Rails.env.test? %>
                <%= render("testings/index_card", sheet: sheet) %>
            <% end %>
        <% end %>
    </div>
</div>

<div class="move-down"></div>
