<div class="move-down <%= css %>">
    <%= link_to(representatives_edit_path(id: rep.id)) do %>
        <%= fa_icon("edit") %> edit
    <% end %>
    &nbsp;
    <%= link_to(representatives_delete_path(id: rep.id),
                method: :delete,
                data: {confirm: "Are you sure you wish to delete #{rep.name}?"},
                class: "red") do %>
        <%= fa_icon("trash") %> delete
    <% end %>
</div>
