<div class="rep-index-card text-index-card shadow">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <h3><b><%= rep.name %></b><br></h3>

            <div class="large-text">
                <b>Position:</b> <%= rep.position_name %><br>
                <b>Email:</b> <%= rep.email %><br>

                <%= render("representatives/index_links",
                           rep: rep,
                           css: "large-screen") %>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <% if !Rails.env.test? %>
                <%= image_tag(rep.photo.url, class: "img-fluid") %>
            <% end %>
        </div>
    </div>

    <%= render("representatives/index_links",
               rep: rep,
               css: "small-screen large-text") %>
</div>
<div class="move-down"></div>
