<% provide(:title, "Edit #{@rep.name}") %>

<%= render("shared/page_header") %>

<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-8 large-text">
        <%= form_for(@rep, url: representatives_update_path,
                     method: :patch) do |f| %>
            <%= render("shared/error_messages", obj: @rep) %>

            <%= f.label(:name) %>
            <%= f.text_field(:name, class: "form-control") %>

            <%= f.label(:email) %>
            <%= f.email_field(:email, class: "form-control") %>

            <%= f.label(:position) %>
            <%= f.select(:position,
                         options_for_select(Representative.position_select, @rep.position),
                         {},
                         class: "form-control") %>

            <%= f.submit("Update", class: "btn btn-primary btn-full") %>
        <% end %>
    </div>
</div>
