<% provide(:title, "Representatives") %>

<%= render("shared/manage_header") %>

<div class="container">
    <div class="row justify-content-around index-content">
        <div class="col-xs-12 col-sm-10 col-md-8">
            <%= link_to("New Representative", representatives_new_path,
                        class: "btn btn-primary btn-full") %>

            <% @reps.each do |rep| %>
                <%= render("representatives/index_card", rep: rep) %>
            <% end %>
        </div>
    </div>
</div>
