<% provide(:title, "New Representative") %>

<%= render("shared/page_header") %>

<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-8 large-text">
        <%= form_for(@rep, url: representatives_new_path,
                     method: :post) do |f| %>
            <%= render("shared/error_messages", obj: @rep) %>

            <%= f.label(:name) %>
            <%= f.text_field(:name, class: "form-control") %>

            <%= f.label(:email) %>
            <%= f.email_field(:email, class: "form-control") %>

            <%= f.label(:position) %>
            <%= f.select(:position,
                         options_for_select(Representative.position_select),
                         {},
                         class: "form-control") %>

            <%= f.label(:photo, "Photo (640x480 px)") %>
            <%= f.file_field(:photo, class: "form-control") %>

            <%= f.submit("Create Representative",
                         class: "btn btn-primary btn-full") %>
        <% end %>
    </div>
</div>
