<div class="text-index-card shadow">
    <h3><b><%= user.email %></b></h3>
    <div>
        <b>Account status:</b>
        <% if user.activated? %>
            <span class="green">Activated</span>
            <br>
            <b>Activated at:</b> <%= format_time(user.activated_at) %>
        <% else %>
            <span class="red">Not Activated</span>
            <br>
            <b>Created at:</b> <%= format_time(user.created_at) %>
        <% end %>
    </div>

    <div class="move-down">
        <%= link_to(users_delete_path(id: user.id),
                    method: :delete,
                    data: {
                        confirm: "Are you sure you wish to " +
                                 "delete #{user.email}?"
                    },
                    class: "red") do %>
            <%= fa_icon("trash") %> delete user
        <% end %>
    </div>
</div>
<div class="move-down"></div>
