<% provide(:title, "Change Password") %>

<%= render("shared/page_header") %>

<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-8">
        <%= form_for(@user, url: profile_password_change_path,
                     method: :patch) do |f| %>
            <%= render("shared/error_messages", obj: @user) %>

            <%= f.label(:old_password, "Old Password") %>
            <%= f.password_field(:old_password, class: "form-control") %>

            <%= f.label(:new_password, "New Password") %>
            <%= f.password_field(:new_password, class: "form-control") %>

            <%= f.label(:password_confirmation, "Confirm Password") %>
            <%= f.password_field(:password_confirmation,
                class: "form-control") %>

            <%= f.submit("Change Password",
                         class: "btn btn-primary btn-full") %>
        <% end %>
    </div>
</div>
