<% provide(:title, "Users") %>

<%= render("shared/manage_header") %>

<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-10 col-md-8 large-text">
        <%= link_to("New User", users_new_path,
                    class: "btn btn-primary btn-full") %>

        <% @users.each do |user| %>
            <%= render("users/index_card", user: user) %>
        <% end %>
    </div>
</div>
