<% provide(:title, "Manage") %>

<%= render("shared/page_header") %>

<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-10 col-md-8">
        <h3>Transactions</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6 move-down">
                <%= link_to(transactions_path,
                            class: "btn btn-primary btn-full") do %>
                    <%= fa_icon("money") %> Transactions
                <% end %>
            </div>
            <div class="col-xs-12 col-sm-6 move-down">
                <%= link_to(charts_comparison_path,
                            class: "btn btn-primary btn-full") do %>
                    <%= fa_icon("area-chart") %> Charts
                <% end %>
            </div>
        </div>

        <h3 class="move-down">Users</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6 move-down">
                <%= link_to(users_path, class: "btn btn-primary btn-full") do %>
                    <%= fa_icon("address-book-o") %> Users
                <% end %>
            </div>
            <div class="col-xs-12 col-sm-6 move-down">
                <%= link_to(users_new_path,
                            class: "btn btn-primary btn-full") do %>
                    <%= fa_icon("plus") %> New User
                <% end %>
            </div>
        </div>

        <h3 class="move-down">Representatives</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6 move-down">
                <%= link_to(representatives_path,
                            class: "btn btn-primary btn-full") do %>
                    <%= fa_icon("group") %> Representatives
                <% end %>
            </div>
            <div class="col-xs-12 col-sm-6 move-down">
                <%= link_to(representatives_new_path,
                            class: "btn btn-primary btn-full") do %>
                    <%= fa_icon("plus") %> New Representative
                <% end %>
            </div>
        </div>

        <h3 class="move-down">Tournaments</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6 move-down">
                <%= link_to(tournaments_path,
                            class: "btn btn-primary btn-full") do %>
                    <%= fa_icon("trophy") %> Tournaments
                <% end %>
            </div>
            <div class="col-xs-12 col-sm-6 move-down">
                <%= link_to(tournaments_new_path,
                            class: "btn btn-primary btn-full") do %>
                    <%= fa_icon("plus") %> New Tournament
                <% end %>
            </div>
        </div>

        <h3 class="move-down">Practice Times</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6 move-down">
                <%= link_to(practices_path,
                            class: "btn btn-primary btn-full") do %>
                    <%= fa_icon("calendar-o") %> Practice Times
                <% end %>
            </div>
            <div class="col-xs-12 col-sm-6 move-down">
                <%= link_to(practices_new_path,
                            class: "btn btn-primary btn-full") do %>
                    <%= fa_icon("plus") %> New Practice Time
                <% end %>
            </div>
        </div>

        <h3 class="move-down">Site Content</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6 move-down">
                <%= link_to(testing_sheets_edit_path,
                            class: "btn btn-primary btn-full") do %>
                    <%= fa_icon("file-o") %> Testing Sheets
                <% end %>
            </div>
            <div class="col-xs-12 col-sm-6 move-down">
                <%= link_to(images_path,
                            class: "btn btn-primary btn-full") do %>
                    <%= fa_icon("file-image-o") %> Site Images
                <% end %>
            </div>
            <div class="col-xs-12 col-sm-6 move-down">
                <%= link_to(texts_path,
                            class: "btn btn-primary btn-full") do %>
                    <%= fa_icon("file-text-o") %> Site Text
                <% end %>
            </div>
            <div class="col-xs-12 col-sm-6 move-down">
                <%= link_to(links_path,
                            class: "btn btn-primary btn-full") do %>
                    <%= fa_icon("link") %> Site Links
                <% end %>
            </div>
        </div>
        <div class="move-down"></div>
    </div>
</div>
