<% provide(:title, "New User") %>

<%= render("shared/page_header") %>

<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-8 large-text">
        <%= form_for(@user, url: users_new_path) do |f| %>
            <%= render("shared/error_messages", obj: @user) %>

            <%= f.label(:email) %>
            <%= f.email_field(:email, class: "form-control") %>

            <%= f.submit("Create User", class: "btn btn-primary btn-full") %>
        <% end %>
    </div>
</div>
