<% provide(:title, "Set Password") %>

<%= render("shared/page_header") %>

<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-10 col-md-8 large-text">
        <%= form_for(@user, url: profile_password_set_path) do |f| %>
            <%= render("shared/error_messages", obj: @user) %>

            <%= f.label(:password) %>
            <%= f.password_field(:password, class: "form-control") %>

            <%= f.label(:password_confirmation) %>
            <%= f.password_field(:password_confirmation,
                                 class: "form-control") %>

            <%= f.submit("Set Password", class: "btn btn-primary btn-full") %>
        <% end %>
    </div>
</div>
