<div class="attendees-list">
    <h2>Attendees</h2>

    <table>
        <tr>
            <th class="pad-in-left">First name</th>
            <th>Last name</th>
            <th>Paid</th>
            <th>Checked in</th>
            <th></th>
        </tr>

        <% @attendees.each do |attendee| %>
            <tr>
                <td class="pad-in"><%= attendee.first_name %></td>
                <td><%= attendee.last_name %></td>
                <td>
                    <% if attendee.paid? %>
                        <span class="green"><%= fa_icon("check") %></span>
                    <% else %>
                        <span class="red"><%= fa_icon("times") %></span>
                    <% end %>
                </td>
                <td>
                    <% if attendee.checked_in? %>
                        <span class="green"><%= fa_icon("check") %></span>
                    <% else %>
                        <span class="red"><%= fa_icon("times") %></span>
                    <% end %>
                </td>
                <td class="pad-in-right">
                    <%= link_to(attendee_path(id: @tournament.path,
                                              attendee_id: attendee.id)) do %>
                        <%= fa_icon("eye") %> view
                    <% end %>
                </td>
            </tr>
        <% end %>
    </table>
</div>
