<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-6 tournament-btn">
        <%= link_to(tournament_path(id: tournament.path),
                    class: "btn btn-primary btn-full") do %>
            <%= fa_icon("info-circle") %> Information
        <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 tournament-btn">
        <% if tournament.registration_open? %>
            <%= link_to(attendees_new_path(id: tournament.path),
                        class: "btn btn-primary btn-full") do %>
                <%= fa_icon("calendar-check-o") %> Register
            <% end %>
        <% else %>
            <%= link_to(attendees_new_path(id: tournament.path),
                        class: "btn btn-primary btn-full disabled") do %>
                <%= fa_icon("calendar-check-o") %> Register
            <% end %>
        <% end %>
    </div>

    <% if logged_in? %>
        <div class="col-12 tournament-btn">
            <%= link_to(tournaments_manage_path(id: tournament.path),
                        class: "btn btn-secondary btn-full") do %>
                <%= fa_icon("cog") %> Manage
            <% end %>
        </div>
    <% end %>

    <% if !tournament.registration_open? %>
        <div class="move-down red">
            Registration is not open for this tournament right now.
        </div>
    <% end %>
</div>
