<% if tournament.registration_open? || logged_in? %>
    <div class="tournament-card">
        <div class="row">
            <div class="col-xs-12 col-sm-9 name">
                <%= tournament.name %>
            </div>
            <div class="col-xs-12 col-sm-3 date">
                <%= format_date(tournament.event_date) %>
            </div>
        </div>

        <%= render("tournaments/card_links", tournament: tournament) %>

        <div class="tournament-bottom-border"></div>
    </div>
<% end %>
