<tr>
    <td class="pad-in-left"><%= attendee.first_name %></td>
    <td><%= attendee.last_name %></td>
    <td><%= attendee.age %></td>
    <td><%= attendee.rank_name %></td>
    <td class="only-lg">
        <% if attendee.patterns? %>
            <span class="green"><%= fa_icon("check") %></span>
        <% else %>
            <span class="red"><%= fa_icon("times") %></span>
        <% end %>
    </td>
    <td class="only-lg">
        <% if attendee.sparring? %>
            <span class="green"><%= fa_icon("check") %></span>
        <% else %>
            <span class="red"><%= fa_icon("times") %></span>
        <% end %>
    </td>
    <td class="only-lg">
        <% if attendee.breaking? %>
            <span class="green"><%= fa_icon("check") %></span>
        <% else %>
            <span class="red"><%= fa_icon("times") %></span>
        <% end %>
    </td>
    <td class="only-lg">
        <% if attendee.team_demo? %>
            <span class="green"><%= fa_icon("check") %></span>
        <% else %>
            <span class="red"><%= fa_icon("times") %></span>
        <% end %>
    </td>
    <td>
        <% if attendee.paid? %>
            <%= link_to(attendees_unpaid_path(id: @tournament.path,
                                              attendee_id: attendee.id,
                                              query: @query),
                        method: :patch,
                        class: "btn btn-sm btn-success btn-full"
                       ) do %>
                <%= fa_icon("check") %>
            <% end %>
        <% else %>
            <%= link_to(attendees_paid_path(id: @tournament.path,
                                            attendee_id: attendee.id,
                                            query: @query),
                        method: :patch,
                        class: "btn btn-sm btn-danger btn-full"
                       ) do %>
                <%= fa_icon("times") %>
            <% end %>
        <% end %>
    </td>
    <td>
        <% if attendee.checked_in? %>
            <%= link_to(attendees_uncheckin_path(id: @tournament.path,
                                                 attendee_id: attendee.id,
                                                 query: @query),
                        method: :patch,
                        class: "btn btn-sm btn-success btn-full"
                       ) do %>
                <%= fa_icon("check") %>
            <% end %>
        <% else %>
            <%= link_to(attendees_checkin_path(id: @tournament.path,
                                               attendee_id: attendee.id,
                                               query: @query),
                        method: :patch,
                        class: "btn btn-sm btn-danger btn-full"
                       ) do %>
                <%= fa_icon("times") %>
            <% end %>
        <% end %>
    </td>
</tr>
