<div class="row justify-content-around space-bottom">
    <div class="col-xs-12 col-sm-10">
        <%= form_tag(tournaments_checkin_path(id: @tournament.path),
                     method: :get) do |f| %>
            <%= text_field_tag(:query, @query,
                               id: "checkin-search",
                               placeholder: "Search...",
                               class: "form-control") %>
        <% end %>
    </div>
</div>
