<table>
    <thead>
        <tr>
            <th class="pad-in-left">First name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Rank</th>
            <th class="only-lg">Patterns</th>
            <th class="only-lg">Sparring</th>
            <th class="only-lg">Breaking</th>
            <th class="only-lg">Team demo</th>
            <th>Paid</th>
            <th>Checked-in</th>
        </tr>
    </thead>

    <tbody>
        <% attendees.each do |attendee| %>
            <%= render("tournaments/checkin_attendee_row",
                       attendee: attendee) %>
        <% end %>
    </tbody>
</table>
