<div class="row large-text">
    <div class="col-6">
        <%= fa_icon("link") %> Path:
    </div>

    <div class="col-6 right-text">
        <%= @tournament.path %>
    </div>
</div>

<div class="row large-text">
    <div class="col-6">
        <%= fa_icon("calendar-o") %> Event date:
    </div>

    <div class="col-6 right-text">
        <%= format_date(@tournament.event_date) %>
    </div>
</div>

<div class="row large-text">
    <div class="col-6">
        <%= fa_icon("child") %> Checkin time:
    </div>

    <div class="col-6 right-text">
        <%= @tournament.checkin_time %>
    </div>
</div>

<div class="row large-text">
    <div class="col-6">
        <%= fa_icon("clock-o") %> Start time:
    </div>

    <div class="col-6 right-text">
        <%= @tournament.start_time %>
    </div>
</div>

<div class="row large-text">
    <div class="col-6">
        <%= fa_icon("money") %> Payment link:
    </div>

    <div class="col-6 right-text">
        <%= link_to(@tournament.payment_link,
                    @tournament.payment_link,
                    target: :_blank) %>
    </div>
</div>

<div class="row large-text">
    <div class="col-6">
        <%= fa_icon("group") %> Registered:
    </div>

    <div class="col-6 right-text">
        <%= @attendees.count %>
    </div>
</div>

<div class="row large-text">
    <div class="col-6">
        <%= fa_icon("check-square") %> Checked-in:
    </div>

    <div class="col-6 right-text">
        <%= @attendees.where(checked_in: true).count %>
    </div>
</div>
