<div class="row">
    <div class="col-xs-12 col-sm-6 move-down">
        <%= link_to(tournaments_attendees_show_path(id: @tournament.path),
                    class: "btn btn-primary btn-full") do %>
            <%= fa_icon("users") %> Attendees
        <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 move-down">
    <%= link_to(tournaments_checkin_path(id: @tournament.path),
                class: "btn btn-primary btn-full") do %>
        <%= fa_icon("check") %> Check-in
    <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 move-down">
        <%= link_to(tournaments_edit_path(id: @tournament.path),
                    class: "btn btn-secondary btn-full") do %>
            <%= fa_icon("edit") %> Edit
        <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 move-down">
        <%= link_to(tournaments_csv_path(id: @tournament.path),
                    class: "btn btn-secondary btn-full",
                    download: true) do %>
            <%= fa_icon("download") %> Download CSV
        <% end %>
    </div>

    <div class="col-12 move-down">
        <% if @tournament.registration_open? %>
            <%= link_to(tournaments_close_path(id: @tournament.path),
                        method: :patch,
                        class: "btn btn-danger btn-full") do %>
                <%= fa_icon("toggle-off") %> Close Registration
            <% end %>
        <% else %>
            <%= link_to(tournaments_open_path(id: @tournament.path),
                        method: :patch,
                        class: "btn btn-success btn-full") do %>
                <%= fa_icon("toggle-on") %> Open Registration
            <% end %>
        <% end %>
    </div>
</div>
