<% provide(:title, "Check-in for #{@tournament.name}") %>

<div class="page-header">
    <h1>
        Check-in for
        <%= link_to(@tournament.name,
                    tournaments_manage_path(id: @tournament.path)) %>
    </h1>
</div>

<div id="tournament-path" class="hidden"><%= @tournament.path %></div>

<div class="checkin-content" id="tournament-checkin">
    <%= render("tournaments/checkin_form") %>

    <div id="filter-checkin">
        <%= render("tournaments/checkin_section", attendees: @attendees) %>
    </div>
</div>
