<% provide(:title, "Edit #{@tournament.name}") %>

<div class="page-header">
    <h1>
        Edit
        <%= link_to(@tournament.name,
                    tournaments_manage_path(id: @tournament.path)) %>
    </h1>
</div>

<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-8 large-text">
        <%= form_for(@tournament,
                     url: tournaments_update_path(id: @tournament.path)) do |f| %>
            <%= render("shared/error_messages", obj: @tournament) %>

            <%= f.label(:name) %>
            <%= f.text_field(:name,
                             placeholder: "* Required",
                             class: "form-control") %>

            <%= f.label(:event_date) %>
            <%= f.text_field(:event_date,
                             placeholder: "YYYY-MM-DD",
                             value: @tournament.event_date.strftime("%Y-%m-%d"),
                             class: "form-control datepicker") %>

            <%= f.label(:path, "URL link") %>
            <%= f.text_field(:path,
                             placeholder: "my-url-link",
                             class: "form-control") %>

            <%= f.label(:payment_link) %>
            <%= f.text_field(:payment_link,
                             placeholder: "https://mypaymentsite.com",
                             class: "form-control") %>

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <%= f.label(:checkin_time) %>
                    <%= f.text_field(:checkin_time,
                                     placeholder: "8:00 am",
                                     class: "form-control") %>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <%= f.label(:start_time) %>
                    <%= f.text_field(:start_time,
                                     placeholder: "9:30 am",
                                     class: "form-control") %>
                </div>
            </div>

            <%= f.submit("Update Tournament",
                         class: "btn btn-primary btn-full") %>
        <% end %>
        <div class="move-down"></div>
    </div>
</div>
