<% provide(:title, "Tournaments") %>

<%= render("shared/page_header") %>

<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-10 col-md-8">
        <% if logged_in? %>
            <%= link_to("New Tournament", tournaments_new_path,
                        class: "btn btn-primary btn-full") %>
            <div class="move-down"></div>
        <% end %>

        <% if @tournaments.empty? %>
            <h3 class="center">
                There are no tournaments open for registration right now.
            </h3>
        <% else %>
            <% @tournaments.each do |tournament| %>
                <%= render("tournaments/card", tournament: tournament) %>
            <% end %>
        <% end %>
    </div>
</div>
