<% provide(:title, @tournament.name) %>

<div class="page-header">
    <h1>
        <%= link_to("Tournaments", tournaments_path) %>
        <%= fa_icon("caret-right") %>
        <%= yield(:title) %>
    </h1>
</div>

<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-10">
        <%= render("tournaments/manage_info") %>
        <%= render("tournaments/manage_links") %>
        <%= render("tournaments/attendees_list") %>
    </div>
</div>
