<% provide(:title, @tournament.name) %>

<div class="page-header">
    <h1>
        <%= link_to("Tournaments", tournaments_path) %>
        <%= fa_icon("caret-right") %>
        <%= yield(:title) %>
    </h1>
</div>

<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-10 large-text">
        <% if @tournament.registration_open? %>
            <div class="tournament-show-section">
                <%= link_to(attendees_new_path(id: @tournament.path),
                            class: "btn btn-primary btn-full") do %>
                    <%= fa_icon("calendar-check-o") %>
                    Register
                <% end %>
            </div>
        <% end %>

        <div class="tournament-show-section">
            <h2><%= fa_icon("calendar") %> When</h2>
            <p>
            The tournament day is
            <b><%= @tournament.event_date.strftime("%A %B %d, %Y") %></b>.
            Doors open to check in at <b><%= @tournament.checkin_time %></b>
            and the tournament will start promptly at
            <b><%= @tournament.start_time %></b>.
            </p>
        </div>

        <div class="tournament-show-section">
            <h2><%= fa_icon("map") %> Where</h2>
            UT Recreational Sports Center<br>
            2001 San Jacinto Blvd, Austin TX 78705

            <div class="maps-iframe">
                <iframe src="https://www.google.com/maps/embed/v1/place?q=2001%20San%20Jacinto%20austin%20tx&key=AIzaSyDoVc_WfIhgv8z8tTg2hkHgIuZDWMd78tA"
                        frameborder="0"
                        style="border:0"
                        class="shadow"
                        allowfullscreen>
                </iframe>
            </div>
        </div>

        <div class="tournament-show-section">
            <h2><%= fa_icon("flag-checkered") %> Events</h2>
            <p>
                <b>Patterns</b><br>
                ITF Patterns only, Head to head, single elimination, one
                optional pattern. Black belts must perform two designated
                patterns, one from their rank requirements, one from below
                their rank.
            </p>
            <p>
                <b>Sparring</b><br>
                Continuous sparring as per the
                <b>current ITF Rules and Regulations</b>, One-two minute round,
                single elimination. Black Belt Finals will be two-two minute
                rounds. <b>HEADGEAR MANDATORY ALL RANKS</b>.
            </p>
            <p>
                <b>Breaking</b><br>
                For all ranks, combination of one standing foot, and one hand
                technique, must start and finish in guarding block, L-stance.
            </p>
            <p>
                <b>Demonstration Competition</b><br>
                Each team can consist of 3 to 6 people. The demonstration can be
                of any physical aspect of <nobr>Taekwon-Do</nobr> such as
                patterns, model sparring, team breaking, hosinsul routine, etc.
                Each routine will be no more than 2 minutes.
            </p>
        </div>

        <div class="tournament-show-section">
            <h2><%= fa_icon("money") %> Entry cost</h2>
            <p>
                Entry for competitors is <b>$50</b> for any number of events.
                Entry for all spectators is <b>free</b>. You can pay with
                <b>cash</b> or <b>check</b> on the day of the tournament or pay
                at
                <%= link_to(@tournament.payment_link,
                            @tournament.payment_link,
                            target: :_blank) %>
                after
                <%= link_to("registering",
                            attendees_new_path(id: @tournament.path)) %>.
            </p>

            <p>
                If paying by <b>check</b> please make the check out to
                <b>UT Austin</b> and put <b>UT ITF Taekwon-Do</b> in the memo
                line.
            </p>
        </div>

        <div class="tournament-show-section">
            <h2><%= fa_icon("trophy") %> Medals</h2>
            <p>
                <b>Medals</b><br>
                First, Second and TWO Third place awards will be given to
                colored belts (ONE third place for Black Belts).  Brackets will
                be determined the day of the tournament and will be divided by
                discretion of the Tournament Director.
            </p>
            <p>
                <b>Grand Championship</b><br>
                Total medal count determines winner, competitors must enter
                patterns, sparring and breaking competitions to be eligible.
                Breaking determines the winner in the event of a tie.
            </p>
        </div>

        <div class="tournament-show-section">
            <h2><%= fa_icon("car") %> Parking</h2>
            Please note that the parking situation is miserable at the
            University. Your best bet is to park in the pay garages behind the
            stadium, or south of MLK Blvd. This will run between $7 and $10 per
            day. Unless you can find street parking south of MLK, there is no
            convenient parking near the Recreational Sports Center.
        </div>

        <div class="tournament-show-section">
            <h2><%= fa_icon("hotel") %> Hotels</h2>
            We have no special rates available. Feel free to find
            accommodations as you see fit. However, we recommend the following
            options within walking distance of the venue:

            <div class="row move-down">
                <div class="col-xs-12 col-sm-4">
                    <b>La Quinta Inn Capital</b><br>
                    <%= fa_icon("star") %>
                    <%= fa_icon("star") %>
                    <%= fa_icon("star") %><br>
                    300 East 11th St.<br>
                    (512) 476-1166<br>
                    Austin, TX 78701
                </div>

                <div class="col-xs-12 col-sm-4">
                    <b>Hampton Inn &amp; Suites University</b><br>
                    <%= fa_icon("star") %>
                    <%= fa_icon("star") %>
                    <%= fa_icon("star") %><br>
                    1701 Lavaca St.<br>
                    (512) 499-8881<br>
                    Austin, TX 78701
                </div>

                <div class="col-xs-12 col-sm-4">
                    <b>AT&amp;T Executive Ed. And Conf. Center</b><br>
                    <%= fa_icon("star") %>
                    <%= fa_icon("star") %>
                    <%= fa_icon("star") %>
                    <%= fa_icon("star") %><br>
                    1900 University Ave.<br>
                    (512) 404-1900<br>
                    Austin, TX 78705
                </div>
            </div>
        </div>
    </div>
</div>
