<% provide(:title, "Attendees for #{@tournament.name}") %>

<div class="page-header">
    <h1>
        Attendees for
        <%= link_to(@tournament.name,
                    tournaments_manage_path(id: @tournament.path)) %>
    </h1>
</div>

<div id="tournament-path" class="hidden"><%= @tournament.path %></div>

<%= render("tournaments/attendees/attendee_filter") %>

<div id="filter-attendees" class="checkin-content">
    <%= render("tournaments/attendees/attendee_list") %>
</div>
