<% if obj.errors.any? %>
  <div id="error_explanation">
      <div class="alert alert-danger">
          The form contains <%= pluralize(obj.errors.count, "error") %>.
      </div>
      <ul>
          <% obj.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
      </ul>
    </div>
<% end %>
