<div class="attendee-form-section">
    <h3 class="move-down"><%= fa_icon("file-o") %>&nbsp; Waiver</h3>

    <p>
        I understand that participating in this event can potentially lead to
        serious injury. By confirming below, I agree to release the University
        of Texas at Austin, the UT Recreational Sports Center, the UT ITF
        <nobr>Taekwon-Do</nobr> Club, all their employees, members, staff and
        any other tournament officials, sponsors, or hosts from all liability
        should I be injured by participating in this tournament. I also
        understand that registration is <b>not</b> complete until the $50
        competitor fee is paid.
    </p>

    <label class="checkbox-container">I Accept
        <%= f.check_box(:accepted_waiver) %>
        <span class="checkmark"></span>
    </label>
    <% if @attendee.errors.include?("accepted_waiver") %>
        <div class="validation-message small-move-down">
            You must accept the waiver
        </div>
    <% end %>
</div>
