<div class="attendee-form-section">
    <h3><%= fa_icon("flag-checkered") %>&nbsp; Events</h3>

    <label class="checkbox-container">Patterns
        <%= f.check_box(:patterns) %>
        <span class="checkmark"></span>
    </label>

    <label class="checkbox-container">Sparring
        <%= f.check_box(:sparring) %>
        <span class="checkmark"></span>
    </label>

    <label class="checkbox-container">Board breaking
        <%= f.check_box(:breaking) %>
        <span class="checkmark"></span>
    </label>

    <label class="checkbox-container">Team demonstration
        <%= f.check_box(:team_demo) %>
        <span class="checkmark"></span>
    </label>

    <%= f.label(:team_demo_name, "Demo team name") %>
    <%= f.text_field(:team_demo_name, class: "form-control") %>
</div>
