<div class="attendee-form-section">
    <h3><%= fa_icon("address-card-o") %>&nbsp; Contact information</h3>
    <%= f.label(:street) %>
    <%= f.text_field(:street, placeholder: "* Required",
                     class: "form-control " +
                            "#{validation_class(@attendee, "street")}"
                    ) %>
    <%= render("shared/validation_message", obj: @attendee, field: "street") %>

    <%= f.label(:city) %>
    <%= f.text_field(:city, placeholder: "* Required",
                     class: "form-control " +
                            "#{validation_class(@attendee, "city")}"
                    ) %>
    <%= render("shared/validation_message", obj: @attendee, field: "city") %>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <%= f.label(:state) %>
            <%= f.select(:state, options_for_select(state_select),
                         {},
                     class: "form-control " +
                            "#{validation_class(@attendee, "state")}"
                    ) %>
            <%= render("shared/validation_message", obj: @attendee,
                                                    field: "state") %>
        </div>

        <div class="col-xs-12 col-sm-6">
            <%= f.label(:zip) %>
            <%= f.text_field(:zip, placeholder: "* Required",
                     class: "form-control " +
                            "#{validation_class(@attendee, "zip")}"
                    ) %>
            <%= render("shared/validation_message", obj: @attendee,
                                                    field: "zip") %>
        </div>
    </div>

    <%= f.label(:email) %>
    <%= f.email_field(:email, placeholder: "* Required",
                      class: "form-control " +
                             "#{validation_class(@attendee, "email")}"
                     ) %>
    <% if @attendee.errors.include?("email") %>
        <div class="validation-message">
            Must be a valid email
        </div>
    <% end %>

    <%= f.label(:phone) %>
    <%= f.text_field(:phone, placeholder: "* Required",
                     class: "form-control " +
                            "#{validation_class(@attendee, "phone")}"
                    ) %>
    <%= render("shared/validation_message", obj: @attendee, field: "phone") %>
</div>
