<div class="attendee-form-section">
    <h3><%= fa_icon("info-circle") %>&nbsp; Information</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <%= f.label(:first_name) %>
            <%= f.text_field(:first_name, placeholder: "* Required",
                             class: "form-control " +
                                    "#{validation_class(@attendee, "first_name")}"
                            ) %>
            <%= render("shared/validation_message", obj: @attendee,
                                                    field: "first_name") %>
        </div>

        <div class="col-xs-12 col-sm-6">
            <%= f.label(:last_name) %>
            <%= f.text_field(:last_name, placeholder: "* Required",
                             class: "form-control " +
                                    "#{validation_class(@attendee, "last_name")}"
                            ) %>
            <%= render("shared/validation_message", obj: @attendee,
                                                    field: "last_name") %>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <%= f.label(:age) %>
            <%= f.number_field(:age, min: 1, placeholder: "* Required",
                               class: "form-control " +
                                      "#{validation_class(@attendee, "age")}"
                              ) %>
            <%= render("shared/validation_message", obj: @attendee,
                                                    field: "age") %>
        </div>

        <div class="col-xs-12 col-sm-6">
            <%= f.label(:sex) %>
            <%= f.select(:sex, options_for_select(Attendee.sex_select),
                         {},
                         class: "form-control " +
                                "#{validation_class(@attendee, "sex")}"
                        ) %>
            <%= render("shared/validation_message", obj: @attendee,
                                                    field: "sex") %>
        </div>
    </div>

    <%= f.label(:rank) %>
    <%= f.select(:rank, options_for_select(Attendee.rank_select),
                 {},
                 class: "form-control " +
                        "#{validation_class(@attendee, "rank")}"
                ) %>
    <%= render("shared/validation_message", obj: @attendee,
                                            field: "rank") %>

    <%= f.label(:weight_class,
                "Weight Class (Jun. M., Jun. F., Sen. M., Sen. F. " +
                "[5 lbs. leeway])") %>
    <%= f.select(:weight_class, options_for_select(Attendee.weight_class_select),
                 {},
                 class: "form-control " +
                        "#{validation_class(@attendee, "weight_class")}"
                ) %>
    <%= render("shared/validation_message", obj: @attendee,
                                            field: "weight_class") %>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <%= f.label(:instructor) %>
            <%= f.text_field(:instructor, placeholder: "* Required",
                             class: "form-control " +
                                    "#{validation_class(@attendee, "instructor")}"
                            ) %>
            <%= render("shared/validation_message", obj: @attendee,
                                                    field: "instructor") %>
        </div>

        <div class="col-xs-12 col-sm-6">
            <%= f.label(:school) %>
            <%= f.text_field(:school, placeholder: "* Required",
                             class: "form-control " +
                                    "#{validation_class(@attendee, "school")}"
                            ) %>
            <%= render("shared/validation_message", obj: @attendee,
                                                    field: "school") %>
        </div>
    </div>
</div>
