<div class="col-xs-12 col-sm-10 col-md-8 attendee-show-section large-text">
    <h3>Events</h3>
    <div>
        Patterns:
        <span class="right">
            <% if @attendee.patterns? %>
                <span class="green"><%= fa_icon("check") %></span>
            <% else %>
                <span class="red"><%= fa_icon("times") %></span>
            <% end %>
        </span>
    </div>

    <div>
        Sparring:
        <span class="right">
            <% if @attendee.sparring? %>
                <span class="green"><%= fa_icon("check") %></span>
            <% else %>
                <span class="red"><%= fa_icon("times") %></span>
            <% end %>
        </span>
    </div>

    <div>
        Breaking:
        <span class="right">
            <% if @attendee.breaking? %>
                <span class="green"><%= fa_icon("check") %></span>
            <% else %>
                <span class="red"><%= fa_icon("times") %></span>
            <% end %>
        </span>
    </div>

    <div>
        Team demo:
        <span class="right">
            <% if @attendee.team_demo? %>
                <span class="green"><%= fa_icon("check") %></span>
            <% else %>
                <span class="red"><%= fa_icon("times") %></span>
            <% end %>
        </span>
    </div>

    <% if @attendee.team_demo? %>
        <div>
            Demo team name:
            <span class="right"><%= @attendee.team_demo_name %></span>
        </div>
    <% end %>
</div>
