<div class="col-xs-12 col-sm-10 col-md-8 attendee-show-section large-text">
    <h3>Contact Information</h3>
    <div>
        Email:
        <span class="right"><%= @attendee.email %></span>
    </div>

    <div>
        Phone:
        <span class="right"><%= @attendee.phone %></span>
    </div>

    <div>
        Street:
        <span class="right"><%= @attendee.street %></span>
    </div>

    <div>
        City:
        <span class="right"><%= @attendee.city %></span>
    </div>

    <div>
        State:
        <span class="right"><%= @attendee.state %></span>
    </div>

    <div>
        Zip:
        <span class="right"><%= @attendee.zip %></span>
    </div>
</div>
