<div class="col-xs-12 col-sm-10 col-md-8 attendee-show-section large-text">
    <h3>Information</h3>
    <div>
        First name:
        <span class="right"><%= @attendee.first_name %></span>
    </div>

    <div>
        Last name:
        <span class="right"><%= @attendee.last_name %></span>
    </div>

    <div>
        Rank:
        <span class="right"><%= @attendee.rank_name %></span>
    </div>

    <div>
        Age:
        <span class="right"><%= @attendee.age %></span>
    </div>

    <div>
        Sex:
        <span class="right"><%= @attendee.sex_name %></span>
    </div>

    <div>
        School:
        <span class="right"><%= @attendee.school %></span>
    </div>

    <div>
        Instructor:
        <span class="right"><%= @attendee.instructor %></span>
    </div>

    <div>
        Weight class:
        <span class="right"><%= @attendee.weight_class_name %></span>
    </div>

    <div>
        Paid:
        <span class="right">
            <% if @attendee.paid? %>
                <span class="green"><%= fa_icon("check") %></span>
            <% else %>
                <span class="red"><%= fa_icon("times") %></span>
            <% end %>
        </span>
    </div>

    <div>
        Checked in:
        <span class="right">
            <% if @attendee.checked_in? %>
                <span class="green"><%= fa_icon("check") %></span>
            <% else %>
                <span class="red"><%= fa_icon("times") %></span>
            <% end %>
        </span>
    </div>
</div>
