<% provide(:title, "Registration Submitted") %>

<%= render("shared/page_header") %>

<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-10">
        <h2 class="center">
            You have been registered for the<br>
            <%= link_to(@tournament.name,
                        tournament_path(id: @tournament.path)) %>
            on
            <b><%= format_date(@tournament.event_date) %></b>
        </h2>

        <div class="large-text move-down">
            <p>
                Your registration is <b>not complete</b> until you have paid the
                <b>$50</b> entry fee. You may pay online
                <%= link_to("here",
                            @tournament.payment_link,
                            target: :_blank) %>
                or on the day of the tournament.
            </p>

            <p>
                If you are paying by check it <b class="underline">MUST</b> be
                made out to <b>UT Austin</b> with <b>UT ITF Taekwon-Do</b> in
                the memo line.
            </p>

            <div class="tournament-show-section">
                <h2><%= fa_icon("calendar") %> When</h2>
                <b><%= @tournament.event_date.strftime("%A, %B %d, %Y") %></b>
                <br>
                Doors open: <b><%= @tournament.checkin_time %></b><br>
                Event starts: <b><%= @tournament.start_time %></b>
            </div>

            <div class="tournament-show-section">
                <h2><%= fa_icon("map") %> Where</h2>
                UT Recreational Sports Center<br>
                2001 San Jacinto Blvd, Austin TX 78705

                <div class="maps-iframe">
                    <iframe src="https://www.google.com/maps/embed/v1/place?q=2001%20San%20Jacinto%20austin%20tx&key=AIzaSyDoVc_WfIhgv8z8tTg2hkHgIuZDWMd78tA"
                            frameborder="0"
                            style="border:0"
                            class="shadow"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>

            <p>
                We look forward to seeing you in
                <%= @tournament.event_date.strftime("%B") %>!
            </p>

            <%= link_to(attendees_new_path(id: @tournament.path),
                        class: "btn btn-primary btn-full move-down") do %>
                <%= fa_icon("calendar-check-o") %>
                Register another Competitor
            <% end %>
            <div class="move-down"></div>
        </div>
    </div>
</div>
