<% provide(:title, "Register for #{@tournament.name}") %>

<div class="page-header">
    <h1>
        Register for
        <%= link_to(@tournament.name, tournament_path(id: @tournament.path)) %>
    </h1>
</div>

<div class="row justify-content-around large-text">
    <div class="col-xs-12 col-sm-10 attendee-form">
        <%= form_for(@attendee,
                     url: attendees_create_path(id: @tournament.path)) do |f| %>
            <% if @attendee.errors.any? %>
                <div class="alert alert-danger">
                    The form contains
                    <%= pluralize(@attendee.errors.count, "error") %>.
                </div>
            <% end %>

            <%= f.hidden_field(:tournament_id, value: @tournament.id) %>
            <%= render("attendees/form_information", f: f) %>
            <%= render("attendees/form_contact",     f: f) %>
            <%= render("attendees/form_events",      f: f) %>
            <%= render("attendees/form_waiver",      f: f) %>

            <%= recaptcha_tags %>

            <div class="move-down"></div>
            <%= f.submit("Register", class: "btn btn-primary btn-full") %>
            <div class="move-down"></div>
        <% end %>
    </div>
</div>
