<% provide(:title, "#{@attendee.first_name} #{@attendee.last_name}") %>

<div class="page-header">
    <h1>
        <%= link_to(@tournament.name,
                    tournaments_manage_path(id: @tournament.path)) %>
        <%= fa_icon("caret-right") %>
        <%= @attendee.first_name %> <%= @attendee.last_name %>
    </h1>
</div>

<div class="row justify-content-around">
    <%= render("attendees/show_info") %>
    <%= render("attendees/show_events") %>
    <%= render("attendees/show_contact") %>
</div>
