<div class="text-index-card shadow">
    <h3><b><%= link_to(root_url + link.path, root_url + link.path) %></b></h3>
    <div class="large-text move-down">
        Redirects to: <%= link_to(link.url, link.url) %>
    </div>

    <div class="large-text move-down">
        <%= link_to(link_edit_path(name: link.name)) do %>
            <%= fa_icon("edit") %> edit
        <% end %>
    </div>
</div>
<div class="move-down"></div>
