<% provide(:title, "Edit #{@link.name}") %>

<%= render("shared/page_header") %>

<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-10 large-text">
        <%= form_for(@link, url: link_update_path(name: @link.name)) do |f| %>
            <%= render("shared/error_messages", obj: @link) %>

            <%= f.label(:url, "#{root_url}#{@link.name} should redirect to") %>
            <%= f.text_field(:url, class: "form-control") %>

            <%= f.submit("Update", class: "btn btn-primary btn-full") %>
        <% end %>
    </div>
</div>
