<% provide(:title, "Links") %>

<%= render("shared/manage_header") %>

<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-10 col-md-8">
        <% @links.each do |link| %>
            <%= render("links/index_card", link: link) %>
        <% end %>
    </div>
</div>
<div class="move-down"></div>
