You have registered for the <%= @tournament.name %>

This is a confirmation of your registration for the <%= @tournament.name %> on <%= @tournament.event_date.strftime("%m/%d/%Y") %>.

Tournament information:
- Date: <%= @tournament.event_date.strftime("%A, %B %d, %Y") %>
- Registration opens: <%= @tournament.checkin_time %>
- Tournament beings: <%= @tournament.start_time %>

Registration information:
- Name: <%= @attendee.first_name %> <%= @attendee.last_name %>
- Age: <%= @attendee.age %>
- Rank: <%= @attendee.rank_name %>
- Events: <%= @attendee.event_names %>

Remember your registration is NOT COMPLETE until you have paid the %50 entry fee. You may pay online at <%= @tournament.payment_link %> or on the day of the tournament.

If you are paying by check it MUST be made out to UT Austin with UT ITF Taekwon-Do in the memo line.

We look forward to seeing you in
<%= @tournament.event_date.strftime("%B") %>!

Do not reply to this email. For questions please email the club at utitftkd@gmail.com
