<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <%= stylesheet_link_tag :email %>
</head>
<body>
    <div class="email-title">
        <h1>You have Registered for the <%= @tournament.name %></h1>
    </div>
    <p>
        This is a confirmation of your registration for the
        <%= @tournament.name %> on
        <%= @tournament.event_date.strftime("%m/%d/%Y") %>.
    </p>

    <h3>Tournament information</h3>
    <ul>
        <li>
            <b>Date:</b>
            <%= @tournament.event_date.strftime("%A, %B %d, %Y") %>
        </li>
        <li><b>Registration opens:</b> <%= @tournament.checkin_time %></li>
        <li><b>Tournament begins:</b> <%= @tournament.start_time %></li>
    </ul>

    <h3>Registration information:</h3>
    <ul>
        <li>
            <b>Name: </b><%= @attendee.first_name %> <%= @attendee.last_name %>
        </li>
        <li><b>Age: </b><%= @attendee.age %></li>
        <li><b>Rank: </b><%= @attendee.rank_name %></li>
        <li><b>Events: </b><%= @attendee.event_names %></li>
    </ul>

    <p>
        Remember your registration is <b>not complete</b> until you have paid
        the <b>$50</b> entry fee. You may pay online
        <%= link_to("here", @tournament.payment_link) %>
        or on the day of the tournament.
    </p>

    <p>
        If you are paying by check it <b class="underline">MUST</b> be made
        out to <b>UT Austin</b> with <b>UT ITF Taekwon-Do</b> in the memo
        line.
    </p>

    <p>
        We look forward to seeing you in
        <%= @tournament.event_date.strftime("%B") %>!
    </p>

    <p>
        Do not reply to this email. For questions please email the club at
        <%= mail_to("utitftkd@gmail.com") %>
    </p>
</body>
</html>
