.bottom-info {
    font-size: 0.75em;
}

.text-index-card {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 25px;
    width: 100%;
    border: 1px solid #DDD;
}

.text-sample {
    margin-top: 5px;
    padding-left: 10px;
    text-align: left;
}
