.about-content {
    padding-top: 7vh;
    margin-bottom: 7vh;
}

.about-content .about-sections {
    font-size: 1.25em;
}

.about-content .about-sections div {
    margin-top: 25px;
}

@media (min-width: 768px) {
    .about-content .small-screen {
        display: none;
    }
}

@media (max-width: 767px) {
    .about-content .large-screen {
        display: none;
    }
}
