.contact-section {
    padding-top: 7vh;
    margin-bottom: 7vh;
}

.contact-section .rep-info {
    margin-top: 25px;
}

.contact-section .rep-card {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #AAA;
}

.contact-section .rep-card .rep-card-info {
    margin-top: 25px;
    font-size: 1.25em;
    word-wrap: break-word;
}

@media (max-width: 767px) {
    .contact-section .rep-card .rep-card-info {
        margin-top: 5px;
    }
}

@media (max-width: 767px) {
    .contact-section .rep-card .rep-card-info {
        margin-top: 25px;
        text-align: center;
    }
}
