.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0px;
    height: 100px;
    background-color: #EEE;
}

.footer-content {
    margin-left: 5%;
    margin-right: 5%;
}

.footer-center-text {
    margin-top: 40px;
}

.footer a:hover {
    text-decoration: none;
}

.footer .left a {
    margin-right: 10px;
}

.footer-pad-right {
    margin-right: 25px;
}

@media (min-width: 630px) {
    .footer {
        font-size: 1.3em;
    }
}
