html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
    color: $secondary;
}

html, body {
    max-width: 100%;
    overflow-x: hidden !important;
    font-family: "Ubuntu", sans-serif;
}

a:hover {
    text-decoration: none;
}

.center {
    text-align: center;
}

.center-img {
    width: 100%;
}

.center-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.shadow {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.across-img {
    width: 100%;
}

.page-header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.large-text {
    font-size: 1.25em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.red {
    color: $red;
}

.green {
    color: $green;
}

.burnt-orange {
    color: $burnt-orange;
}

.move-down {
    margin-top: 25px;
}

.small-move-down {
    margin-top: 5px;
}

.right-text {
    text-align: right;
}

.hidden {
    display: none;
}

@media (max-width: 575px) {
    .space-bottom {
        margin-bottom: 25px;
    }
}
