nav {
    min-height: 100px;
}

.navbar-brand {
    font-size: 1.7em;
    font-weight: bold;
}

.navbar-nav .nav-link a:link,
.navbar-nav .nav-link a:visited {
    color: #CCC !important;
}

.navbar-nav .nav-link a:hover {
    color: #EEE !important;
}

.navbar-nav a:link {
    font-size: 1.3em;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-nav .dropdown {
    margin-right: 15px !important;
}

.navbar-nav .dropdown button {
    color: #EEE !important;
    font-size: 1.3em;
}
