.landing-content {
    width: 100%;
    min-height: 100vh;
    padding-top: 10vh;
    background-image: image-url("club_across.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $primary;
    color: #EEE;
}

.landing-content .landing-bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding-bottom: 3px;
}

.landing-content h1 {
    margin-top: 35px;
    font-size: 3.5em;
}

.landing-content .landing-links {
    font-size: 1.5em;
}

.landing-content .landing-links a:link,
.landing-content .landing-links a:visited,
.landing-content .landing-links a:hover {
    color: #EEE;
}

.landing-content .landing-links a:hover {
    text-decoration: underline;
}

.landing-content .bottom-links {
    margin-top: 25px;
}

@media (max-width: 600px) {
    .landing-content {
        padding-top: 10vh;
    }
}

@media (max-width: 520px) {
    .landing-content .landing-links .break-small {
        display: block;
    }

    .landing-content .landing-links .hide-small {
        display: none;
    }
}

@media (max-width: 400px) {
    .landing-content {
        padding-top: 5vh;
    }

    .landing-content h1 {
        font-size: 3em;
    }

    .landing-content .itf-logo {
        width: 50%;
    }
}

@media (max-width: 350px) {
    .landing-content h1 {
        font-size: 2.5em;
    }

    .landing-content .landing-links {
        font-size: 1.25em;
    }
}
