@media (min-width: 576px) {
    .rep-index-card .small-screen {
        display: none;
    }
}

@media (max-width: 575px) {
    .rep-index-card .large-screen {
        display: none;
    }

    .rep-index-card img {
        margin-top: 25px;
    }
}
