.schedule-content {
    padding-top: 7vh;
    margin-bottom: 7vh;
    font-size: 1.25em;
    width: 100%;
}

.schedule-content .center-div,
.maps-iframe {
    margin-left: auto;
    margin-right: auto;
}

.schedule-content .center-div {
    width: 75%;
}

.maps-iframe {
    margin-top: 25px;
}

.maps-iframe iframe {
    width: 100%;
    height: 400px;
}

@media (max-width: 575px) {
    .schedule-content .large-only {
        display: none;
    }
}
