.tournament-card {
    font-size: 1.25em;
    margin-bottom: 25px;
}

.tournament-card .name {
    font-weight: bold;
}

.tournament-card .date {
    text-align: right;
}

.tournament-card .tournament-btn {
    margin-top: 15px;
}

.tournament-card .tournament-bottom-border {
    border-bottom: 1px solid #AAA;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

@media (max-width: 575px) {
    .tournament-card .date {
        text-align: left;
    }
}
