.checkin-content {
    margin-left: 5%;
    margin-right: 5%;
}

.checkin-content table {
    width: 100%;
}

.checkin-content td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.checkin-content table .pad-in-left {
    padding-left: 3px;
}

.checkin-content thead tr:nth-child(1) {
    border-bottom: 1px solid $secondary;
}

.checkin-content tbody tr:nth-child(even) {
    background-color: #EEE;
}

.checkin-content table {
    display: table;
    width: 100%;
    margin-bottom: 50px;
}

.checkin-content table thead,
.checkin-content table tbody {
    width: 100%;
}

.checkin-content table thead {
    overflow-y: scroll;
    display: table;
    table-layout: fixed;
    width: calc(100% - 16px);
}

.checkin-content table tbody {
    overflow: auto;
    height: 50vh;
    display: block;
}

.checkin-content table tr {
    width: 100%;
    text-align: left;
    display: table;
    table-layout: fixed;
}


@media (max-width: 810px) {
    .checkin-content .only-lg {
        display: none;
    }
}
