.attendees-list {
    margin-top: 50px;
}

.attendees-list table {
    width: 100%;
    margin-bottom: 5vh;
}

.attendees-list table .pad-in-left {
    padding-left: 3px;
}

.attendees-list table .pad-in-right {
    padding-right: 5px;
}

.attendees-list tr:nth-child(odd) {
    background-color: #DDD;
}

.attendees-list tr:nth-child(1) {
    background-color: #FFF;
    border-bottom: 1px solid $secondary;
}
