@import "variables";

.email-title {
    background-color: $primary;
    color: #FFF;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.email-btn {
    text-align: center;
}

.btn {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-outline-primary {
    color: $primary;
    border: 1px solid $primary !important;
    background-color: transparent;
}
.btn-outline-primary:hover {
    background-color: $primary !important;
    color: #AAA !important;
    border: 1px solid $primary !important;
}

.underline {
    text-decoration: underline;
}
