<div id="<%= name %>-area" class="hidden">
    <%= area_chart(chart_data,
                   adapter: "highcharts",
                   prefix: "$",
                   colors: colors,
                   thousands: ",",
                   title: title,
                   curve: false,
                   stacked: stacked,
                   download: {background: "#FFFFFF",
                              filename: name},
                   library: {
                       plotOptions: {
                            animation: false
                       },
                       tooltip: {
                            shared: true
                       }
                   }) %>
</div>
