<% colors = nil if local_assigns[:colors].nil? %>
<% pie_colors = nil if local_assigns[:pie_colors].nil? %>
<% color_by_point = false if local_assigns[:color_by_point].nil? %>
<% show_column = true if local_assigns[:show_column].nil? %>
<% show_pie = true if local_assigns[:show_pie].nil? %>
<% show_line = true if local_assigns[:show_line].nil? %>
<% show_area = false if local_assigns[:show_area].nil? %>
<% stacked = nil if local_assigns[:stacked].nil? %>

<div class="move-down">
    <h3 class="center"><%= title %></h3>
    <div class="center chart-radio-buttons">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <% if show_column %>
                <label class="btn btn-light active">
                    <input type="radio"
                           name="<%= name %>"
                           id="<%= name %>-column-chart-toggle"
                           autocomplete="off" checked>
                    Column
                </label>
            <% end %>

            <% if show_pie %>
                <label class="btn btn-light">
                    <input type="radio"
                           name="<%= name %>"
                           id="<%= name %>-pie-chart-toggle"
                           autocomplete="off">
                    Pie
                </label>
            <% end %>

            <% if show_line %>
                <label class="btn btn-light">
                    <input type="radio"
                           name="<%= name %>"
                           id="<%= name %>-line-chart-toggle"
                           autocomplete="off">
                    Line
                </label>
            <% end %>

            <% if show_area %>
                <label class="btn btn-light">
                    <input type="radio"
                           name="<%= name %>"
                           id="<%= name %>-area-chart-toggle"
                           autocomplete="off">
                    Area
                </label>

                <label class="btn btn-light">
                    <input type="radio"
                           name="<%= name %>"
                           id="<%= name %>-percentarea-chart-toggle"
                           autocomplete="off">
                    Percent Area
                </label>
            <% end %>
        </div>
    </div>

    <% if show_column %>
        <%= render("transactions/column_chart",
                   chart_data: chart_data,
                   title: title,
                   name: name,
                   stacked: stacked,
                   colors: colors,
                   color_by_point: color_by_point) %>
    <% end %>

    <% if show_pie %>
        <%= render("transactions/pie_chart",
                   chart_data: chart_data,
                   title: title,
                   name: name,
                   pie_colors: pie_colors) %>
    <% end %>

    <% if show_line %>
        <%= render("transactions/line_chart",
                   chart_data: chart_data,
                   title: title,
                   name: name,
                   colors: colors) %>
    <% end %>

    <% if show_area%>
        <%= render("transactions/area_chart",
                   chart_data: chart_data,
                   title: title,
                   name: name,
                   colors: colors,
                   stacked: stacked) %>
        <%= render("transactions/percent_area_chart",
                   chart_data: chart_data,
                   title: title,
                   name: name,
                   colors: colors) %>
    <% end %>
</div>
