<div id="<%= name %>-column">
    <%= column_chart(chart_data,
                     adapter: "highcharts",
                     prefix: "$",
                     stacked: stacked,
                     colors: colors,
                     thousands: ",",
                     title: title,
                     label: "Amount",
                     download: {background: "#FFFFFF",
                                filename: name},
                     library: {
                        plotOptions: {
                            column: {
                                animation: false,
                                colorByPoint: color_by_point,
                                dataLabels: {
                                    enabled: true,
                                    format: "${y:,.2f}"
                                }
                            }
                        }
                     }) %>
</div>
