<h3 class="center move-down"><%= title %></h3>
<div class="center chart-radio-buttons">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <% chart_data.each_with_index do |(year, info), index| %>
            <% if index == 0 %>
                <label class="btn btn-light active">
                    <input type="radio"
                           name="<%= name %>-category-group-<%= year %>"
                           id="<%= name %>-category-group-<%= year %>-toggle"
                           autocomplete="off" checked>
                    <%= year %>
                </label>
            <% else %>
                <label class="btn btn-light">
                    <input type="radio"
                           name="<%= name %>-category-group-<%= year %>"
                           id="<%= name %>-category-group-<%= year %>-toggle"
                           autocomplete="off">
                    <%= year %>
                </label>
            <% end %>
        <% end %>
    </div>
</div>

<% chart_data.each_with_index do |(year, info), index| %>
    <%= render("transactions/pie_chart",
               chart_data: info,
               title: "Revenue by Category for #{year}",
               name: "#{name}-category-group-#{year}",
               pie_colors: nil,
               hidden: index == 0 ? "" : nil) %>
<% end %>
