<div id="<%= name %>-line" class="hidden">
    <%= line_chart(chart_data,
                   adapter: "highcharts",
                   prefix: "$",
                   colors: colors,
                   thousands: ",",
                   title: title,
                   label: "Amount",
                   curve: false,
                   download: {background: "#FFFFFF",
                              filename: name},
                   library: {
                    plotOptions: {
                        animation: false,
                        line: {
                            dataLabels: {
                                enabled: true,
                                format: "${y:,.2f}",
                            }
                        }
                    },
                    tooltip: {
                        shared: true
                    }
                   }) %>
</div>
