<div id="<%= name %>-percentarea" class="hidden">
    <%= area_chart(chart_data,
                   adapter: "highcharts",
                   colors: colors,
                   thousands: ",",
                   title: title,
                   ytitle: "Percentage",
                   curve: false,
                   download: {background: "#FFFFFF",
                              filename: name},
                   library: {
                       plotOptions: {
                            animation: false,
                            area: {
                                stacking: "percent"
                            }
                       },
                       tooltip: {
                            shared: true
                       }
                   }) %>
</div>
