<% hidden = "hidden" if local_assigns[:hidden].nil? %>

<div id="<%= name %>-pie" class="<%= hidden %>">
    <%= pie_chart(chart_data,
                  adapter: "highcharts",
                  prefix: "$",
                  colors: pie_colors,
                  thousands: ",",
                  title: title,
                  label: "Amount",
                  download: {background: "#FFFFFF",
                             filename: name},
                  library: {
                    plotOptions: {
                        pie: {
                            animation: false,
                            dataLabels: {
                                enabled: true,
                                format: "{point.name}: ${y:,.2f} ({percentage:.0f}%)"
                            }
                        }
                    },
                  }) %>
</div>
