<div class="col-md-4 col-xs-10">
    <div class="transaction-summary">
        <h3 class="center"><%= name %></h3>
        <ul>
            <li>
                Transactions:
                <span class="right">
                    <%= transactions.count %>
                </span>
            </li>
            <li>
                Net:
                <span class="right <%= net_color(transactions) %>">
                    <%= number_to_currency(calc_net(transactions)) %>
                </span>
            </li>
            <li>
                Revenue transactions:
                <span class="right green">
                    <%= revenue_count(transactions) %>
                </span>
            </li>
            <li>
                Revenue:
                <span class="right green">
                    <%= number_to_currency(calc_revenue(transactions)) %>
                </span>
            </li>
            <li>
                Spending transactions:
                <span class="right red">
                    <%= spending_count(transactions) %>
                </span>
            </li>
            <li>
                Spending:
                <span class="right red">
                    <%= number_to_currency(calc_spending(transactions)) %>
                </span>
            </li>
        </ul>
    </div>
</div>
