<% provide(:title, "Comparison") %>

<div class="page-header">
    <h1>
        Comparison
        /
        <%= link_to("Revenue", charts_revenue_path) %>
        /
        <%= link_to("Spending", charts_spending_path) %>
    </h1>
</div>

<%= render("transactions/charts",
           chart_data: @comparison_by_totals,
           title: "Comparison by Totals",
           name: "comparison-by-totals",
           color_by_point: true,
           colors: ["#90ED7D", "#d15151"],
           pie_colors: ["#90ED7D", "#d15151"],
           show_pie: true,
           show_line: false) %>
<%= render("transactions/charts",
           chart_data: @comparison_by_year,
           title: "Comparison by Year",
           name: "comparison-by-year",
           colors: ["#90ED7D", "#d15151"],
           show_pie: false,
           show_area: true) %>
<%= render("transactions/charts",
           chart_data: @comparison_by_year_negated,
           title: "Comparison by Year",
           name: "comparison-by-year-negated",
           colors: ["#90ED7D", "#d15151"],
           stacked: true,
           show_pie: false) %>
