<% provide(:title, "Transactions") %>

<%= render("shared/manage_header") %>

<div class="row justify-content-around">
    <%= render("transactions/summary",
               name: "Student Org",
               transactions: @studentorg) %>
    <%= render("transactions/summary",
               name: "Allocations",
               transactions: @allocations) %>
    <%= render("transactions/summary",
               name: "Donations",
               transactions: @donations) %>
</div>

<div class="row justify-content-around move-down">
    <div class="col-xs-12 col-sm-6 move-down">
        <%= link_to(transactions_update_path,
                    class: "btn btn-primary btn-full") do %>
            <%= fa_icon("money") %> Update Transactions
        <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 move-down">
        <%= link_to(charts_comparison_path,
                    class: "btn btn-primary btn-full") do %>
            <%= fa_icon("area-chart") %> Charts
        <% end %>
    </div>
</div>

