<% provide(:title, "Revenue") %>

<div class="page-header">
    <h1>
        <%= link_to("Comparison", charts_comparison_path) %>
        /
        Revenue
        /
        <%= link_to("Spending", charts_spending_path) %>
    </h1>
</div>

<%= render("transactions/charts",
           chart_data: @revenue_by_year,
           title: "Revenue by Year",
           name: "revenue-by-year",
           colors: ["#90ED7D"]) %>
<%= render("transactions/charts",
           chart_data: @revenue_by_semester,
           title: "Revenue by Year and Semester",
           name: "revenue-by-semester",
           show_pie: false,
           show_area: true) %>
<%= render("transactions/charts",
           chart_data: @revenue_by_category,
           title: "Revenue by Category",
           name: "revenue-by-category",
           colors: ["#90ED7D"],
           show_line: false) %>
<%= render("transactions/charts",
           chart_data: @revenue_by_category_and_year,
           title: "Revenue by Category and Year",
           name: "revenue-by-category-year",
           show_pie: false,
           show_area: true) %>
<%= render("transactions/grouped_pie_charts",
           chart_data: @revenue_by_category_splits,
           title: "Revenue by Category and Year",
           name: "revenue-by-category-and-year") %>
<%= render("transactions/charts",
           chart_data: @allocations_by_year,
           title: "Allocations by Year",
           name: "allocations-by-year",
           colors: ["#90ED7D"]) %>
<%= render("transactions/charts",
           chart_data: @dues_by_year,
           title: "Dues by Year",
           name: "dues-by-year",
           colors: ["#90ED7D"]) %>
<%= render("transactions/charts",
           chart_data: @dues_by_semester,
           title: "Dues by Year and Semester",
           name: "dues-by-semester",
           show_pie: false,
           show_area: true) %>
<%= render("transactions/charts",
           chart_data: @tournament_by_year,
           title: "Tournament Gross Earnings by Year",
           name: "tournament-by-year",
           colors: ["#90ED7D"]) %>
<%= render("transactions/charts",
           chart_data: @donations_by_year,
           title: "Donations by Year",
           name: "donations-by-year",
           colors: ["#90ED7D"]) %>
<%= render("transactions/charts",
           chart_data: @donations_by_semester,
           title: "Donations by Year and Semester",
           name: "donations-by-semester",
           show_pie: false,
           show_area: true) %>
<%= render("transactions/charts",
           chart_data: @misc_by_year,
           title: "Miscellaneous Revenue by Year",
           name: "misc-by-year",
           colors: ["#90ED7D"]) %>

<div class="move-down"></div>
