<% provide(:title, "Spending") %>

<div class="page-header">
    <h1>
        <%= link_to("Comparison", charts_comparison_path) %>
        /
        <%= link_to("Revenue", charts_revenue_path) %>
        /
        Spending
    </h1>
</div>

<%= render("transactions/charts",
           chart_data: @spending_by_year,
           title: "Spending by Year",
           name: "spending-by-year",
           colors: ["#d15151"]) %>
<%= render("transactions/charts",
           chart_data: @spending_by_semester,
           title: "Spending by Year and Semester",
           name: "spending-by-semester",
           show_pie: false,
           show_area: true) %>
<%= render("transactions/charts",
           chart_data: @spending_by_category,
           title: "Spending by Category",
           name: "spending-by-category",
           colors: ["#d15151"],
           show_line: false) %>
<%= render("transactions/charts",
           chart_data: @spending_by_category_and_year,
           title: "Spending by Year and Category",
           name: "spending-by-category-year",
           show_pie: false,
           show_area: true) %>
<%= render("transactions/grouped_pie_charts",
           chart_data: @spending_by_category_splits,
           title: "Spending by Category and Year",
           name: "spending-by-category-and-year") %>
