<% provide(:title, "Update Transactions") %>

<%= render("shared/page_header") %>

<div id="transaction-form" class="row justify-content-around">
    <div class="col-md-8 col-xs-10">
        <%= form_for(:update, url: transactions_scrape_url,
                     multipart: true) do |f| %>
            <%= f.label(:import_file, "Select the file") %>
            <%= f.file_field(:import_file, class: "form-control") %>

            <%= f.submit("Update",
                         id: "transaction-submit",
                         class: "btn btn-primary btn-full") %>
        <% end %>
    </div>
</div>

<div id="transaction-loader"
     class="row justify-content-around move-down"
     style="display:none">
    <div class="col-md-8 col-xs-10">
        <div class="center">
            <h2>
                Processing transactions...
                <br>
                You will be redirected automatically when done.
            </h2>
        </div>
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
</div>
