<div class="text-index-card shadow">
    <h3><b><%= image.name %></b></h3>
    <div class="center-img move-down">
        <% if !Rails.env.test? && image.photo.url %>
            <%= image_tag(image.photo.url, class: "img-fluid") %>
        <% else %>
            <h4 class="center">No Image</h4>
        <% end %>
    </div>

    <div class="large-text move-down">
        <%= link_to(images_edit_path(id: image.name)) do %>
            <%= fa_icon("edit") %> edit
        <% end %>
    </div>
</div>
<div class="move-down"></div>
