<% provide(:title, "Edit #{@image.name}") %>

<%= render("shared/page_header") %>

<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-8 large-text">
        <%= form_for(@image, url: images_update_path(id: @image.name),
                     method: :patch) do |f| %>
            <%= render("shared/error_messages", obj: @image) %>

            <%= f.label(:photo, "Image") %>
            <%= f.file_field(:photo, class: "form-control") %>

            <%= f.submit("Update", class: "btn btn-primary btn-full") %>
        <% end %>
    </div>
</div>
