<% provide(:title, "Images") %>

<%= render("shared/manage_header") %>

<div class="row justify-content-around">
    <div class="col-xs-12 col-sm-10">
        <% @images.each do |image| %>
            <%= render("images/image_card", image: image) %>
        <% end %>
    </div>
</div>
<div class="move-down"></div>
