<div class="flash move-down">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-dismissible alert-<%= message_type %>">
            <%= message %>
            <button type="button" class="close" data-dismiss="alert"
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% end %>
</div>
