<footer class="footer">
    <div class="footer-content">
        <div class="left footer-center-text">
            <span class="footer-pad-right">UT ITF TKD</span>
            <%= link_to("https://www.facebook.com/groups/2202299821/",
                        target: :_blank) do %>
                <%= fa_icon("facebook-square") %>
            <% end %>

            <%= link_to("https://www.instagram.com/utitftaekwondo/",
                        target: :_blank) do %>
                <%= fa_icon("instagram") %>
            <% end %>

            <%= link_to("https://gitlab.com/tirtow/ut-itf-tkd-site",
                        target: :_blank) do %>
                <%= fa_icon("gitlab") %>
            <% end %>

            <%= link_to("https://tirtow.gitlab.io/",
                        target: :_blank) do %>
                <%= fa_icon("pencil") %>
            <% end %>
        </div>

        <div class="right footer-center-text">
            <% if !logged_in? %>
                <%= link_to("login", login_path) %>
            <% end %>
        </div>
    </div>
</footer>
