<nav class="navbar navbar-expand-sm navbar-dark bg-secondary" id="top">
    <%= link_to("UT ITF Taekwon-Do", root_path, class: "navbar-brand") %>

    <div class="navbar-nav">
        <div class="nav-link">
            <%= link_to("https://www.facebook.com/groups/2202299821/",
                        target: :_blank) do %>
                <%= fa_icon("facebook-square") %>
            <% end %>

            <%= link_to("https://www.instagram.com/utitftaekwondo/",
                        target: :_blank) do %>
                <%= fa_icon("instagram") %>
            <% end %>

            <%= link_to("Tournaments", tournaments_path) %>
        </div>
    </div>

    <%= render("layouts/header_user") %>
</nav>
