<% if logged_in? %>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbar-content" aria-controls="navbar-target"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-content">
        <div class="navbar-nav ml-auto">
            <div class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle"
                        data-toggle="dropdown">
                    <%= current_user.email %>&nbsp;
                    <%= fa_icon("user-circle-o") %>
                </button>
            <div>
            <div class="dropdown-menu dropdown-menu-right">
                <%= link_to("Manage", manage_path,
                            class: "dropdown-item") %>
                <%= link_to("Logout", logout_path, method: :delete,
                            class: "dropdown-item") %>
            </div>
        </div>
    </div>
<% end %>
