<!DOCTYPE html>
<html>
<head>
    <title><%= page_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag('application', media: 'all',
                            'data-turbolinks-track': 'reload') %>
    <%= javascript_include_tag('application',
                               'data-turbolinks-track': 'reload') %>
    
    <%= render("application/favicon") %>

    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <%= render("layouts/header") %>

    <% if @no_container %>
        <%= yield %>
    <% else %>
        <div class="container">
            <%= render("layouts/flashes") %>
            <%= yield %>
        </div>
    <% end %>

    <%= render("layouts/footer") %>
</body>
</html>
